@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: "Almarai";
      font-weight: 400;
      src: url("../fonts/Almarai-Regular.ttf");
    }
    @font-face {
      font-family: "Almarai";
      font-weight: 500;
      src: url("../fonts/Almarai-Medium.ttf");
    }
    @font-face {
      font-family: "Almarai";
      font-weight: 700;
      src: url("../fonts/Almarai-Bold.ttf");
    }
  }

[x-cloak] {
    display: none;
}

#audio wave {
    cursor: pointer!important;
}
